<div class="container">
    <div class="row">
        <div class="col">
            <%= link_to "Login as Buyer", new_buyer_session_path, class:"nav-link active" %>  
        </div>
        <div class="col">
            <%= link_to "Login as Seller", new_seller_session_path, class:"nav-link active" %>  
        </div>
    </div>
</div>