<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="breadcrumb__text">
        <h2>Request Account Deletion</h2>
      </div>
    </div>
  </div>
</div>
<section class="featured spad">
  <div class="container">
    working on it
  </div>
</section>