<div class="container">
    <div class="row">
        <div class="col">
            <%= link_to "Sign Up as Buyer", new_buyer_registration_path, class:"nav-link active" %>  
        </div>
        <div class="col">
            <%= link_to "Sign Up as Seller", new_seller_registration_path, class:"nav-link active" %>  
        </div>
    </div>
</div>