<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <%if admin_signed_in?%>
              <a href="/admin/announcements"><%= image_tag "logo2.png" %></a>
            <%elsif seller_signed_in?%>
              <a href="/sellers/products"><%= image_tag "logo2.png" %></a>
            <%else%>
              <a href="/"><%= image_tag "logo2.png" %></a>
            <%end%>
          </div>
          <ul>

          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="/sellers/sign_in">Seller Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
            <li><a href="/home/request_account_delete">Delete Account</a></li>
            <li><a href="https://www.privacypolicies.com/live/ccd223cc-23a7-4b18-bb7a-2c3e6276f95f" target="_blank">Privacy Policy</a></li>
          </ul>
          <ul>

          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
  
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
